@using EcommerceOsorioManha.Models
@model EcommerceOsorioManha.Models.Produto

@{
    Produto produto = ViewBag.ProdutoAlteracao;
}

<h1>Alterar Produto</h1>
<div>
    @using (Html.BeginForm("AlterarProduto", "Produto", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <fieldset>

            @Html.HiddenFor(model => model.ProdutoId)

            <div class="form-group">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-sm-2" })
                <div class="col-sm-6">
                    @Html.TextBoxFor(model => model.Nome,
                         new { @class = "form-control", @placeholder = "Nome do Produto" })

                    @Html.ValidationMessageFor(model => model.Nome, null,
                         new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-sm-2" })
                    <div class="col-sm-6">
                        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control", @placeholder = "Descrição do Produto" })

                        @Html.ValidationMessageFor(model => model.Nome, null,
                             new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Preco, new { @class = "control-label col-sm-2" })
                        <div class="col-sm-6">
                            @Html.TextBoxFor(model => model.Preco, new { @class = "form-control", @placeholder = "Preço do Produto" })


                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Categoria, new { @class = "control-label col-sm-2" })
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.Categoria.Nome, new { @class = "form-control", @placeholder = "Categoria do Produto" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                            </div>
                        </div>
        </fieldset>
    }
</div> 