@using EcommerceOsorioManha.Models;

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    Produto produto = ViewBag.Produto;

}

<div>
    @using (Html.BeginForm())
    {
        <fieldset>

            <legend>Alterar Produto</legend>

            <div class="form-group">
                @Html.Hidden("txtId", produto.ProdutoId, new { @class = "control-label col-sm-2" })
            </div>

            <div class="form-group">
                @Html.Label("Nome do produto:", new { @class = "control-label col-sm-2" })
                @Html.TextBox("txtNome", produto.Nome)
            </div>

            <div class="form-group">
                @Html.Label("Preço do produto:", new { @class = "control-label col-sm-2" })
                @Html.TextBox("txtPreco", produto.Preco)
            </div>

            <div class="form-group">
                @Html.Label("Categoria do produto:", new { @class = "control-label col-sm-2" })
                @Html.TextBox("txtCategoria", produto.Categoria)
            </div>

            <div class="form-group">
                @Html.Label("Descrição do produto:", new { @class = "control-label col-sm-2" })
                @Html.TextBox("txtDescricao", produto.Descricao)
            </div>

            <input type="submit" class="btn btn-secondary" value="Alterar" />
        </fieldset>
    }

</div>

