@using EcommerceOsorioManha.Models
@model List<Categoria>

@{
    DateTime data = ViewBag.Data;
}

<div>
    <h1>Gerenciamento de Produtos</h1>

    @*<a href="~/Views/Produto/Cadastra"> Cadastrar Produto </a>*@

    @* Link em MVC Razor *@

    <br>

    @Html.ActionLink("Cadastrar Categoria", "CadastrarCategoria", "Categoria")



    <table class="table table-hover table-striped"
           style="margin-top:30px">
        <tr>

            <th>Nome</th>
            <th>Descrição</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (Categoria categoriacadastrada in Model)
        {
            <tr>
                <td>@categoriacadastrada.Nome</td>
                <td> @categoriacadastrada.Descricao</td>
                <td> @Html.ActionLink("Remover", "RemoverCategoria", "Categoria", new { id = categoriacadastrada.CategoriaID }, null)   </td>
                <td> @Html.ActionLink("Alterar", "AlterarCategoria", "Categoria", new { id = categoriacadastrada.CategoriaID }, null)   </td>
            </tr>
        }
    </table>
    <p>Dados atualizados às: <b>@data</b></p>
</div>