@using EcommerceOsorioManha.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";
    Layout = "~/Views/Shared/Layout.cshtml";
    string guid = ViewBag.Guid;
}

<h2>Carrinho de Compras</h2>

<table class="table table-hover table-striped" style="marigin-top=30px">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Opções</th>
        <th>SubTotal</th>
    </tr>
    @{double total = 0;
    }

    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Imagens/@item.ProdutoVenda.Imagem" alt="Imagem do Produto" style="width:150px" /></td>
            <td>@item.ProdutoVenda.Nome</td>
            <td>@item.QtdVenda Unid(s)</td>
            <td>@item.PrecoVenda.ToString("C2")</td>
            @{
                double subtotal = item.QtdVenda * item.PrecoVenda;
                total = total + subtotal;
            }
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", "Exibir", new { id = item.ProdutoVenda.ProdutoId }, null)<br />
                @Html.ActionLink("Remover", "RemoverItem", "Exibir", new { id = item.VendaId }, null)
            </td>
            <td>@subtotal.ToString("C2")</td>
        </tr>
    }

</table>
<br />
<div align="right"><h2>Total @total.ToString("C2")</h2></div>
