@using EcommerceOsorioManha.Models
@model List<ItemVenda>
@{
    ViewBag.Title = "CarrinhoCompras";
    Layout = "~/Views/Shared/Layout.cshtml";
    string guid = ViewBag.Guid;

    if (Session["Usuario"] == null)
    {
        Response.Redirect(new Uri(Request.Url, Url.Action("Login", "Usuario")).ToString());
    }
}

<h2>Carrinho de Compras</h2>

<table class="table table-hover table-striped" style="marigin-top=30px">
    <tr>
        <th>Imagem</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>SubTotal</th>
        <th>Opções</th>
    </tr>
    @{double total = 0;
    }

    @foreach (ItemVenda item in Model)
    {
        <tr>
            <td><img src="~/Imagens/@item.ProdutoVenda.Imagem" alt="Imagem do Produto" style="width:150px" /></td>
            <td>@item.ProdutoVenda.Nome</td>
            <td>@item.QtdVenda Unid(s)</td>
            <td>@item.PrecoVenda.ToString("C2")</td>
            @{
                double subtotal = item.QtdVenda * item.PrecoVenda;
                total = total + subtotal;


            }

            <td>
                @subtotal.ToString("C2")
            </td>

            <td>
                <div style="margin:5px">
                    @Html.ActionLink("Detalhes", "Detalhes", "Exibir", new { id = item.ProdutoVenda.ProdutoId }, new { @class = "btn btn-info" })
                </div>

                <div style="margin:5px">
                    @Html.ActionLink("Remover", "RemoverItem", "Exibir", new { id = item.VendaId }, new { @class = "btn btn-danger" })
                </div>
            </td>

        </tr>
                }

</table>
<br />
<div align="right"><h2>Total @total.ToString("C2")</h2></div>
